{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'custom.css' %}" rel="stylesheet">
    <title>Student Management System</title>
</head>
<body onLoad="renderClasses()">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img role="img" aria-label="Titan Student Solutions logo" src="{% static 'TSSlogo.png' %}" style="height:100px; margin: 0; padding: 0;"></a>
          </div>
          <div>
            <a class="nav-option" href="{% url 'home_view' %}">Home</a>
            <p style="display: inline-block">&nbsp&nbsp</p>
            <a class="nav-option" href="{% url 'assignments_view' %}">Assignments</a>
            <p style="display: inline-block">&nbsp&nbsp</p>
            <a class="nav-option" href="{% url 'behavior_view' %}">Behavior</a>
          </div>
        </div>
      </nav>
      
      <div>
        <div class="container">
          <h1>School District Name</h1>
          {% block content %}
          <p>{{ teacher.name }}</p>
          <br>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <form method="POST" action="{% url 'updaterecord_assignment' assignment.id %}">
            {% csrf_token %}
            <h5><u>Create a new assignment:</u></h5>
            <label for="name">Assignment Name: </label>
            <input id="name" name="name" placeholder="Name of Assignment" value="{{assignment.name}}"></input><br>
            <br>
            <label for="class">Select class:</label>
            <select id="class" name="course">
              <option value="none" selected disabled hidden><bold>Re-select</bold> a Course</option>
              {% for course in courses %}
              <option value="{{course.id}}">{{course.name}} ({{course.time}})</option>
              {% endfor %}
            </select>
            Previously: {{assignment.course.name}}
            <br>
            <label for="date"><bold>Re-select</bold> the due date:</label><br>
            <input type="date" id="date"name="dueDate"> Previously: {{assignment.dueDate}}
            <br><br>
            <label for="points">Possible Points:</label><br>
            <input id="points" name="pointsPossible" placeholder="Number of possible points" value="{{assignment.pointsPossible}}"></input>
            <br><br>
            <label for="description">Assignment Description:</label><br>
            <textarea id="description" name="description" placeholder="Describe the assignment here...">{{assignment.description}}</textarea>
        
            <input type="submit" value="Submit">
            {% endblock %}

          </form>
        </div>
      </div>

</body>
</html>