{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'custom.css' %}" rel="stylesheet">
    <title>Student Management System</title>
</head>
<body onLoad="renderClasses()">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img role="img" aria-label="Titan Student Solutions logo" src="{% static 'TSSlogo.png' %}" style="height:100px; margin: 0; padding: 0;"></a>
          </div>
          <div>
            <a class="nav-option" href="{% url 'home_view' %}">Home</a>
            <p style="display: inline-block">&nbsp&nbsp</p>
            <a class="nav-option" href="{% url 'assignments_view' %}">Assignments</a>
            <p style="display: inline-block">&nbsp&nbsp</p>
            <a class="nav-option" href="{% url 'behavior_view' %}">Behavior</a>
          </div>
        </div>
      </nav>
      
      <div>
        <div class="container">
          <h1>School District Name</h1>
          {% block content %}
          <p>{{ teacher.name }}</p>
          <br>
        </div>
      </div>
      
    <div class="container">
      <form method="POST" action="{% url 'updaterecord_behavior' behavior.id %}">
        {% csrf_token %}
        <h5><u>Create a new referral:</u></h5>

        <label for="student">Student</label>
        <select id="student" name="student">
        {% for student in students %}
          <option value="{{student.id}}">{{student.name}}</option>
        {% endfor %}
        </select>
    
        <label for="date-time"><bold>Re-select</bold> the date of the incident:</label>
        <input type="date" id="date" name="date"> Previously: {{behavior.date}}
        <br>
        <textarea id="description" name="description" placeholder="Describe the incident here...">{{behavior.description}}</textarea>
        <br>
        <textarea id="interventions" name="interventions" placeholder="Describe the interventions used here...">{{behavior.interventions}}</textarea>
    
        <input type="submit" value="Submit">
    
      </form>
      {% endblock %}
    </div>
</body>
</html>