{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'custom.css' %}" rel="stylesheet">
    <title>Student Management System</title>
</head>
<body onLoad="renderClasses()">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img role="img" aria-label="Titan Student Solutions logo" src="{% static "TSSlogo.png" %}" style="height:100px; margin: 0; padding: 0;"></a>
          </div>
          <div>
            <a class="nav-option" href="{% url 'home_view' %}">Home</a>
            <p style="display: inline-block">&nbsp&nbsp</p>
            <a class="nav-option" href="{% url 'assignments_view' %}">Assignments</a>
            <p style="display: inline-block">&nbsp&nbsp</p>
            <a class="nav-option" href="{% url 'behavior_view' %}">Behavior</a>
            <p style="display: inline-block">&nbsp&nbsp</p>
            <a class="nav-option" href="{% url 'contact_view' %}">Contact</a>
          </div>
        </div>
      </nav>
      
      <div>
        <div class="container">
          <h1>School District Name</h1>
          {% block content %}
          <p>{{ teacher.name }}</p>
          <p>{{course.name}}</p>
          <br>
        </div>
      </div>
      <div class="row">
      <div class="col-md-8">
        {% for student in students %}
        {{student.name}}
        <ul>
          {% for assignment in assignments %}
          {{assignment.name}}
          <li>{{assignment.pointsPossible}}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <div class="contact">
          <h3>Contact Class:</h3>
          <form action="action_page.php">

              <label for="subject">Subject</label>
              <input type="text" id="subject" name="subject" placeholder="Message subject..">
          
              <label for="body">Body</label>
              <textarea id="body" name="body" placeholder="Write something.." style="height:100px"></textarea>
          
              <input type="submit" value="Send">
          
            </form>
      </div>
      </div>
      </div>
      
      {% endblock %}
</body>
</html>