{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'custom.css' %}" rel="stylesheet">
    <title>Student Management System</title>
</head>
<body onLoad="renderClasses()">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img role="img" aria-label="Titan Student Solutions logo" src="{% static 'TSSlogo.png' %}" style="height:100px; margin: 0; padding: 0;"></a>
          </div>
          <div>
              <a class="nav-option" href="{% url 'home_view' %}">Home</a>
              <p style="display: inline-block">&nbsp&nbsp</p>
              <a class="nav-option" href="{% url 'assignments_view' %}">Assignments</a>
              <p style="display: inline-block">&nbsp&nbsp</p>
              <a class="nav-option" href="{% url 'behavior_view' %}">Behavior</a>
          </div>
        </div>
      </nav>
      
      <div>
        <div class="container">
          <h1>School District Name</h1>
          {% block content %}
          <p>{{ teacher.name }}</p>
          <br>
        </div>
      </div>
      
      <section>
        <div class="row">
        <div class="col-md-3 to-do">
            <h3>Upcoming Assignments:</h3>
            <ul>
            {% for assignment in assignments %}
              <li>{{assignment.name}} DUE: {{assignment.dueDate}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-9">
        <h2>Classes:</h2>
        <p>Click on name to view grade details</p>
        {% for course in courses %}
          <div class="row">
            <a href="{% url 'class_view' course.id %}" style="color: black; text-decoration: none;"> 
              <h3>{{ course.name }} ({{course.time}})</h3>
              <p>{{ course.description }}</p>
              <hr>
            </a>
              </div>
            {% endfor %}
            {% endblock %}
           </div>
        </div>
      </section>
    
</body>
</html>
